#shorten
  - form_for @new_url do |f|
    #label
      = f.label :url, 'Enter the URL to shorten'
    #input
      = f.text_field :url
      #submit
        = f.submit 'Shorten'
  - unless @new_url.errors.empty?
    #errors= @new_url.errors.full_messages.first

:javascript
  document.getElementById('url_url').focus();
