/**
 * io.gd
 * Steven Wilkin - http://stevenwilkin.com
 */

body {
  background: url(/images/bg_gradient.png) repeat-x;
  color: #333333;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

#wrapper {
  margin: 50px auto;
  width: 500px;
}

/* {{{ header */
#header {
  margin: 0 0 25px 0;
}

#header h1 {
  font-size: 32px;
  margin: 0 0 5px 0;
}

#header h1 a {
  color: #E23D14;
}

#header h1 em {
  font-style: normal;
  font-size: 24px;
  color: #333333;
}

#header h2 {
  color: #777777;
  font-weight :normal;
}
/* }}} */


/* {{{ shorten form */
#shorten #label {
  float: left;
  padding: 0 0 10px 0;
}

#shorten #input {
  float: left;
  clear: left;
  background: url(/images/box.png) transparent no-repeat;
  width: 500px;
  height: 40px;
}

#shorten #input input#url_url {
  float: left;
  font-size: 16px;
  width: 408px;
  margin: 9px 9px 0 9px;
  border: 0;
}

#shorten #submit {
  float: right;
  margin: 9px 9px 0 0;
}

#shorten #submit input {
  width: 62px;
  height: 22px;
  background: url(/images/shorten.png);
  border: 0;
  text-indent: -1000px;
  cursor: pointer;
}

#shorten #errors{
  float: left;
  clear: left;
}
/* }}} */


/* {{{ footer */
#footer {
  clear: left;
  padding: 25px 0 0 0;
  text-align: right;
}

#footer a {
  color: #777777;
}

#footer a:hover {
  color: #008BCC;
}
/* }}} */
