!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'} 
    %title
      free URL shortening service - io.gd
    %meta{:name => 'description', :content => 'Yet another free URL shortening service. Developed with Rails by Steven Wilkin'}
    = stylesheet_link_tag 'reset', 'io'

  %body

    #wrapper

      #header
        %h1
          = link_to 'io<em>.gd</em>', root_path
        %h2
          Because everyone needs their own URL shortening service

      #content
        = yield

      #footer
        &copy; 2009
        = link_to 'Steven Wilkin', 'http://stevenwilkin.com'
